@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@media (min-width: 901px) {
  header {
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid #26262C;
    background: linear-gradient(90deg, #1F1F23 0%, #18181B 40%, #18181B 60%, #1F1F23 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header i {
    display: none;
    position: absolute;
    top: -5rem;
  }
  .logo {
    height: 3.4rem;
    width: 3.4rem;
    background-color: #1F1F23;
    background-image: url(../img/dw_logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.0784313725);
    z-index: 1;
  }
  .nav {
    height: 2.4rem;
    width: 34rem;
    background-color: #1F1F23;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.0784313725);
    letter-spacing: 1px;
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
  }
  .nav a {
    color: #fff;
    opacity: 0.9;
    height: 1.1rem;
    text-align: center;
    padding: 0 1.5rem;
    border-right: 2px solid rgba(255, 255, 255, 0.0784313725);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  .nav a:last-child {
    border-right: 2px solid transparent;
  }
  .nav a:hover {
    box-shadow: 0px 0px 20px 3px #2A292E;
    background-color: rgba(42, 41, 46, 0.6);
    cursor: pointer;
  }
  .nav a:hover:last-child {
    border-right: 2px solid transparent;
  }
  .nav .spacer {
    margin: 0;
    padding: 0;
    width: 2.5rem;
  }
  .nav .news {
    border: none;
  }
  .nav .team {
    margin-left: 1rem;
  }
  .nav .home {
    margin-left: 1rem;
  }
  .scrolling-down .nav {
    height: 2rem;
  }
}
@media (min-width: 451px) and (max-width: 900px) {
  header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #26262C;
    background-color: #18181B;
  }
  header i {
    display: none;
    z-index: -1;
  }
  .logo {
    height: 3rem;
    width: 3rem;
    background-color: #1F1F23;
    background-image: url(../img/dw_logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    border: 3px solid rgba(255, 255, 255, 0.0784313725);
    position: absolute;
    top: 5px;
    left: 15px;
  }
  .nav {
    height: 100%;
    width: 26rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1rem;
  }
  .nav a {
    color: #fff;
    opacity: 0.9;
    height: 1.1rem;
    text-align: center;
    padding: 0 1rem;
    border-right: 2px solid rgba(255, 255, 255, 0.0784313725);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    text-decoration: none;
  }
  .nav a:last-child {
    border-right: none;
  }
  .nav a:focus {
    box-shadow: 0px 0px 20px 3px #2A292E;
    background-color: rgba(42, 41, 46, 0.6);
    cursor: pointer;
  }
  .spacer {
    display: none;
  }
}
@media (max-width: 450px) {
  header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #26262C;
    background-color: #18181B;
    transition: 0.5s ease-in-out;
  }
  header .closeMobileNav {
    display: none;
  }
  header i {
    color: rgba(255, 255, 255, 0.5019607843);
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
  header .logo {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #1F1F23;
    background-image: url(../img/dw_logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    border: 3px solid rgba(255, 255, 255, 0.0784313725);
  }
  header .nav {
    display: none;
  }
  header.show {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F23;
  }
  header.show i {
    display: none;
    right: 1.5rem;
    top: 1.5rem;
  }
  header.show .closeMobileNav {
    display: block;
    color: rgba(255, 255, 255, 0.5019607843);
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
  header.show .logo {
    height: 3rem;
    width: 3rem;
    background-color: #1F1F23;
    background-image: url(../img/dw_logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    border: 3px solid rgba(255, 255, 255, 0.0784313725);
    position: absolute;
    top: 5rem;
  }
  header.show .nav {
    color: #fff;
    opacity: 0.9;
    height: 11rem;
    width: 100%;
    position: absolute;
    top: 8.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  header.show .nav a {
    padding: 0.8rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.0784313725);
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
  }
  header.show .nav a:last-child {
    border-bottom: none;
  }
  header.show .nav a:focus {
    box-shadow: 0px 0px 20px 3px #2A292E;
    background-color: rgba(42, 41, 46, 0.9);
    cursor: pointer;
  }
  header.show .spacer {
    display: none;
  }
}
section.cover_photo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
section.cover_photo .news-header {
  height: 40vw;
  min-height: 200px;
  width: 65%;
  min-width: 250px;
  max-width: 1200px;
  background-image: url(/CasablancaAssingmentITStartupProject/img/team.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 30px 0 30px 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.team_section {
  width: 100vw;
  background-color: #18181B;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding-top: 125px;
  padding-bottom: 50px;
}
.team_section:last-child {
  margin-bottom: 20px;
}
.team_section h2 {
  color: rgba(255, 255, 255, 0.3764705882);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5647058824);
  opacity: 0.8;
  margin-top: 50px;
  position: absolute;
  top: 0;
  font-size: 30px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  box-shadow: 2px 2px rgba(150, 150, 150, 0.4392156863);
}
.team_section .person {
  margin-top: 80px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 5%;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
  box-shadow: 0 0 20px #0E0E10;
  margin: 50px 50px;
}
.team_section .person .headshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.team_section .person h3 {
  color: #fff;
  opacity: 0.8;
  font-size: 15px;
  margin: 0;
  padding: 5px;
  letter-spacing: 1px;
}
.team_section .person h4 {
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
  margin: 0;
  padding: 5px;
  letter-spacing: 1px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .team_section h2 {
    font-size: 25px;
  }
  .team_section .person {
    margin: 35px 35px;
  }
}
@media (max-width: 450px) {
  .team_section h2 {
    font-size: 20px;
  }
  .team_section .person {
    margin: 25px 25px;
  }
}
.scrollToTop-btn_section {
  width: 100vw;
  position: relative;
}
.scrollToTop-btn_section .scrollToTopBtn {
  transition: opacity 1s ease-in-out;
  display: none;
  position: fixed;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  opacity: 0.9;
  font-size: 1rem;
  cursor: pointer;
  animation: bounce 3s ease-in-out infinite;
  z-index: 10000;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-4px);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 901px) {
  footer {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #1F1F23;
    margin-top: 35px;
  }
  footer .footer_left {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer .footer_left a {
    color: #fff;
    opacity: 0.3;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
  }
  footer .footer_left a:hover {
    opacity: 1;
    cursor: pointer;
    border-bottom: 1px solid darkgray;
    scale: 1.1;
  }
  footer .footer_right {
    height: 100%;
    width: 50%;
    overflow: inherit;
    position: relative;
  }
  footer .footer_right .logo {
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background-image: url(/CasablancaAssingmentITStartupProject/img/dw_logo.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
  }
}
@media (min-width: 451px) and (max-width: 900px) {
  footer {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #1F1F23;
    margin-top: 35px;
  }
  footer .footer_left {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer .footer_left a {
    color: #fff;
    opacity: 0.3;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
  }
  footer .footer_left a:hover {
    opacity: 1;
    cursor: default;
    border-bottom: 1px solid darkgray;
  }
  footer .footer_right {
    height: 100%;
    width: 50%;
    overflow: inherit;
    position: relative;
  }
  footer .footer_right .logo {
    height: 90%;
    width: 90%;
    opacity: 0.1;
    background-image: url(/CasablancaAssingmentITStartupProject/img/dw_logo.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
  }
}
@media (max-width: 450px) {
  footer {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #1F1F23;
    margin-top: 35px;
  }
  footer .footer_left {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer .footer_left a {
    color: #fff;
    opacity: 0.3;
    font-size: 13px;
    padding: 5px;
    transition: scale 0.1s ease-in;
    text-decoration: none;
  }
  footer .footer_left a:hover {
    opacity: 1;
    cursor: default;
    border-bottom: 1px solid darkgray;
    scale: 1.1;
  }
  footer .footer_right {
    height: 100%;
    width: 50%;
    overflow: inherit;
  }
  footer .footer_right .logo {
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background-image: url(/CasablancaAssingmentITStartupProject/img/dw_logo.jpeg);
    background-position: center;
    background-size: cover;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #0E0E10;
  font-family: "Montserrat", sans-serif;
}

.overflow {
  height: 100vh;
  overflow: hidden;
}/*# sourceMappingURL=team.css.map */