$el-background_G-lighter: #2A292E;
$el-background_G-light: #26262C;
$el-background_G-medium: #1F1F23;
$el-background_G-dark: #18181B;
$el-background_G-darker: #0E0E10;

$border_G-lighter: #FFFFFF80;
$border_G-light: #FFFFFF14;
$border_G-medium: #1F1F23;
$border_G-dark: #18181B;
$border_G-darker: #0E0E10;

$content_G-lighter: #2A292E;
$content_G-light: #26262C;
$content_G-medium: #1F1F23;
$content_G-dark: #18181B;
$content_G-darker: #0E0E10;

$body_G-lighter: #2A292E;
$body_G-light: #26262C;
$body_G-medium: #1F1F23;
$body_G-dark: #18181B;
$body_G-darker: #0E0E10;